/* Mobile Navigation Toggler */
@media (max-width: 991.98px) {
  .navbar-toggler {
    display: block;  
  }
}

body {
  background: linear-gradient(-45deg, #c8102e, #4e0e0e); 
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #c8102e, #4e0e0e);
  padding: 20px;
  color: white;
  border-bottom: 4px solid #000000; 
  border-radius: 8px;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

header h2 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

header img {
  width: auto;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff; 
}

.navbar {
  background-color: #c8102e; /* SEMO Red */
}

.navbar-list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: Arial, sans-serif;
  color: #ffffff;
  padding: 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}


@media (max-width: 991.98px) {
  .navbar-nav .nav-link {
    font-size: 1.3rem;
  }
}

.nav-link:hover {
  background-color: #6e1515; 
  border-radius: 25px;       
}


section {
  padding: 40px 20px;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.about-me {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about-me-content {
  flex: 1;
}


.slider-container {
  width: 40%;
  max-width: 400px;
  margin: 0 auto;
}

.slider-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: #f0f0f0;
}

/* Footer Styling */
footer {
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg, #c8102e, #4e0e0e);
  color: white;
  margin-top: 50px;
  border-top: 4px solid #000000; 
}

footer p {
  margin: 0;
}
